ion{
  
    padding-left: 20%;
    padding-right: 20%;
}
.container{
    height: 35px;
    width: 80%;
    border-radius: 10px;
    margin: 10px 60px;

    color: white;
    font-family: bold;
    background-color: rgb(5, 5, 61);
}
#title{
    margin-left: 60px;
    margin-top: -30px;
}
#con{
    margin-top: -10px;
    cursor: pointer;
    text-decoration: none;
}
.container h1{
    font-size: 20px;
    margin-left: 40px;

}
@media(max-width:1024px){
    ion{
      padding: 0;
    }
    
}
