<ion-header>
  <ion-toolbar color="primary">
    <ion-icon id="con" name="arrow-back-outline" size="large">
      <a routerLink="/home">
      </a>
    </ion-icon>
    <ion-title id="title">View Images</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="context">

    <div class="container">
      <h1>Facade</h1>
    </div>
    <div class="container">
      <h1>
        Hoarding

      </h1>
    </div>
    <div class="container">
      <h1>Cash Counter</h1>
    </div>
    <div class="container">
      <h1>
        In-Store

      </h1>
    </div>
    <div class="container">
      <h1>
        Floor Fixtures

      </h1>
    </div>
    <div class="container">
      <h1>Accessories</h1>

    </div>
    <div class="container">
      <h1>Footwear</h1>

    </div>
    <div class="container">
      <h1>Staff Picture</h1>

    </div>
    <div class="container">
      <h1>Trial Room</h1>

    </div>
    <!-- <div class="container"></div> -->

  </div>

</ion-content>