ion{
  
  padding-left: 20%;
  padding-right: 20%;
  
  
}
#logout{
  float: right;
  margin-top: -25px;
}
#img{
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.content{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  width: 100%;
}

#container{
  
  width: 250px;
  height: 200px;
  background-color: rgb(1, 7, 17);
  border-radius: 15px;
  margin: 10px 10px;
  cursor: pointer;
}
#container p{
  margin-left: 15px;
}
#container button{
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  color: black;
  background-color: rgb(250, 250, 8);
  font-size: 20px;
  border-radius: 7px;
  box-shadow: 7px;
}
#container ion-icon{
  color: rgb(255, 255, 0);
  display: block;
  margin: 70px 20px;
}
@media(max-width:1024px){
  .content{
    grid-template-columns: repeat(3,1fr);

  }
  #container{
    width: 320px;
    height: 330px;
    margin: 10px 5px;
  }
  ion{
    padding: 0;
  }
  
}
@media(max-width:768px){
  .content{
    grid-template-columns: repeat(3,1fr);

  }
  #container{
    width: 240px;
    height: 240px;
    margin: 10px 5px;
  }
  ion{
    padding: 0;
  }
  
}
@media(max-width:540px){
  .content{
    grid-template-columns: repeat(2,1fr);

  }
  #container{
    width: 250px;
    height: 240px;
    margin: 10px 5px;
  }

  ion{
    padding: 0;
  }
  
}


@media(max-width:414px){
  .content{
    grid-template-columns: repeat(2,1fr);

  }
  #container{
    width: 190px;
    height: 190px;
    margin: 5px 5px;
  }
  ion{
    padding: 0;
  }
}
@media(max-width:375px){
  .content{
    grid-template-columns: repeat(2,1fr);

  }
  #container{
    width: 175px;
    height: 190px;
    margin: 5px 5px;
  }
  
  ion{
    padding: 0;
  }
}
@media(max-width:360px){
  .content{
    grid-template-columns: repeat(2,1fr);

  }
  ion{
    padding: 0;
  }
  #container{
    width: 165px;
    height: 170px;
    margin: 5px 5px;
  }
  #container ion-icon{
    margin: 40px 20px;
  }
}
@media(max-width:320px){
  .content{
    grid-template-columns: repeat(2,1fr);

  }
  #container{
    width: 150px;
    height: 170px;
    margin: 10px 5px;
  }
  #container ion-icon{
    margin: 40px 20px;
  }
  ion{
    padding: 0;
  }
  
}
@media(max-width:280px){
  .content{
    grid-template-columns: repeat(1,1fr);

  }
  #container{
    width: 250px;
    height: 250px;
    margin: 10px 15px;
  }

  ion{
    padding: 0;
  }
  
}